# Copy to .env and edit

# --- Wojakcoin (mainnet) ---
# COIN=wojakcoin
# TESTNET=false
# NODE_RPC_URL=http://127.0.0.1:20760
# NODE_RPC_USER=your_rpc_user
# NODE_RPC_PASS=your_rpc_password
# FEE_PER_KB=1000000
# TOKEN_PROTOCOL=wjk-20
# WALLET=.wallet.json

# --- Pepecoin (example) ---
COIN=pepecoin
TESTNET=false
NODE_RPC_URL=http://127.0.0.1:33873
NODE_RPC_USER=your_rpc_user
NODE_RPC_PASS=your_rpc_password
FEE_PER_KB=2000000
WALLET=.wallet.json
